.slider {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.slider__item {
  text-align: center;
  position: relative;
  width: 470px;
  height: 370px;
  object-fit: contain;
}

.image {
  width: 100%;
}
.prevBtn,
.nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px;
  cursor: pointer;
  color: white;
  background-color: #dc042b;
  border: none;
  border-radius: 100px;
}

.prevBtn {
  left: 30px;
}

.nextBtn {
  right: 30px;
}
