.container {
  padding-inline: 20px;
  margin: 0 auto;
  max-width: 1440px;
}
.title {
  font-size: 48px;
  margin-top: 100px;
  margin-bottom: 40px;
}
.accordionList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 100%;
}
.accordionItem {
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.accordionButton {
  max-width: 890px;
  width: 100%;
  text-align: left;
  padding: 16px;
  background: #f7f7f7;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.accordionTitle {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}
.accordionContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0 16px;
  background: #f7f7f7;
  font-size: 16px;
}
.show {
  max-height: 300px;
  padding: 16px;
}
.arrow {
  display: inline-block;
  margin-left: 8px;
  transition: transform 0.3s ease;
}

.arrow.active {
  transform: rotate(180deg);
}
@media (max-width: 865px) {
  .accordionList {
    display: flex;
    flex-direction: column;
  }
  .title {
    font-size: 32px;
  }
}
@media (max-width: 400px) {
  .accordionTitle {
    font-size: 18px;
  }
}
